<p>
  model-form works!
</p>

<form [formGroup]="hobbyForm" (ngSubmit) = "submitUserHobby(hobbyForm.value)">
  First Name: <input type="text" name="firstname" formControlName='fname'><br>
  Last Name: <input type="text" name="lastname" formControlName='lname'><br>

  Hobby:
  <select name="hobby" formControlName='hobby'>
    <option value="dancing">Dancing</option>
    <option value="driving">Driving</option>
    <option value="gliding">Gliding</option>
  </select>

  <br>

  <input type="submit" value="Submit" [disabled]="!hobbyForm.valid">

</form>