<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ name }}! Learning Angular {{ number }}
  </h1>  
</div>

<a routerLink="nuclear">Family</a>

<a routerLink='todo'>Todo</a>
<a routerLink='template'>Template Form</a>
<a routerLink='model'>Model Form</a>
<a routerLink='autoSearch'>Auto Search</a>
<a routerLink='localService'>Local Service</a>
<a routerLink='remoteService'>Remote Service</a>
<a routerLink='animation'>Animation</a>
<a routerLink='eventBinding'>Event Binding</a>
<a routerLink='directive'>Directive</a>
<a routerLink='customDirective'>Custom Directive</a>


<router-outlet></router-outlet>

<app-todo></app-todo>